{% extends 'rcube-green-ecom/base.html' %}
{% load static %}

{% block title %}
Add Payment Method
{% endblock %}

{% block content %}
<div class="add-payment-method-page">
  <div class="container">
    <form action="{% url 'add_payment_method' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-column">
                <h3 class="title">Billing Address</h3>
                <div class="inputBox">
                    <span>Full Name :</span>
                    {{ form.full_name }}
                </div>
                <div class="inputBox">
                    <span>Email :</span>
                    {{ form.email }}
                </div>
                <div class="inputBox">
                    <span>Address :</span>
                    {{ form.address }}
                </div>
                <div class="inputBox">
                    <span>City :</span>
                    {{ form.city }}
                </div>
                <div class="flex">
                    <div class="inputBox">
                        <span>State :</span>
                        {{ form.state }}
                    </div>
                    <div class="inputBox">
                        <span>Zip Code :</span>
                        {{ form.zip_code }}
                    </div>
                </div>
            </div>
            <div class="form-column">
                <h3 class="title">Payment</h3>
                <div class="inputBox">
                    <span>Accepted Cards :</span>
                    <img src="{% static 'images/card_img.png' %}" alt="Accepted Cards">
                </div>
                <div class="inputBox">
                    <span>Name On Card :</span>
                    {{ form.name_on_card }}
                </div>
                <div class="inputBox">
                    <span>Debit/Credit Card Number :</span>
                    {{ form.card_number }}
                </div>
                <div class="inputBox">
                    <span>Exp Month :</span>
                    {{ form.exp_month }}
                </div>
                <div class="flex">
                    <div class="inputBox">
                        <span>Exp Year :</span>
                        {{ form.exp_year }}
                    </div>
                    <div class="inputBox">
                        <span>CVV :</span>
                        {{ form.cvv }}
                    </div>
                </div>
                <div class="inputBox">
                    <span>Total Amount :</span>
                    <p>${{ total_amount }}</p> <!-- Display the total amount here -->
                </div>
            </div>
        </div>
        <button type="submit" class="submit-btn">Proceed To Checkout</button>
    </form>
  </div>
</div>
{% endblock %}
