{% extends 'rcube-green-ecom/base2.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Contact Us</h1>
    <p>If you have any queries or would like any further information, don't hesitate to contact us!!</p>
    <br>
    <h2>Customer Support:</h2>
    <p>
        Email: <a href="mailto:support@rcube.com">support@rcube.com</a><br>
        Phone: +1 (123) 456-7890<br>
        Available: Monday to Friday, 9 AM - 5 PM (EST)
    </p>
    <br>
    <h2>Address:</h2>
    <p>
        rCube Headquarters<br>
        123 Eco-Friendly Lane<br>
        Green City, GA 12345
    </p>
    <br>
    <h2>Social Media:</h2>
    <p>
        <a href="https://www.facebook.com/EnvironmentandClimateChange/">Facebook</a>
        <a href="https://x.com/environmentca">Twitter</a>
        <a href="https://www.instagram.com/environment/?hl=en">Instagram</a>
    </p>
    <br>
    <h2>General Inquiries:</h2>
    <p>For general questions or more information about our services, please email us at <a href="mailto:info@rcube.com">info@rcube.com</a>.</p>
    <br>
    <h2>Feedback:</h2>
    <p>We value your feedback! Please fill out our <a href="#">feedback form</a> to help us improve.</p>
    <br>
    <h2>Newsletter:</h2>
    <p>Stay updated with the latest eco-friendly tips and products by subscribing to our <a href="{% url 'news:index' 1 %}">newsletter</a>.</p>

    <h2><p>Thank you for supporting rCube and our mission to promote sustainable living!</p></h2>
</div>
{% endblock %}
