<!-- payment_successful.html -->

{% extends 'rcube-green-ecom/base.html' %}
{% load static %}

{% block title %}
Payment Successful
{% endblock %}

{% block content %}
<div class="container">
    <div class="invoice">
        <h1>Payment Successful</h1>
        <p>Thank you for your purchase!</p>
        <p>Order ID: {{ order_id }}</p> <!-- Display the order ID here -->
        <div class="row">
            <div class="col">
                <h3 class="title">Billing Address</h3>
                <div class="inputBox">
                    <span>Full Name :</span>
                    <p>{{ payment.full_name }}</p>
                </div>
                <div class="inputBox">
                    <span>Email :</span>
                    <p>{{ payment.email }}</p>
                </div>
                <div class="inputBox">
                    <span>Address :</span>
                    <p>{{ payment.address }}</p>
                </div>
                <div class="inputBox">
                    <span>City :</span>
                    <p>{{ payment.city }}</p>
                </div>
                <div class="inputBox">
                    <span>State :</span>
                    <p>{{ payment.state }}</p>
                </div>
                <div class="inputBox">
                    <span>Zip Code :</span>
                    <p>{{ payment.zip_code }}</p>
                </div>
            </div>
            <div class="col">
                <h3 class="title">Payment Details</h3>
                <div class="inputBox">
                    <span>Total Amount :</span>
                    <p>${{ payment.amount }}</p>
                </div>
                <div class="inputBox">
                    <span>Date :</span>
                    <p>{{ payment_time|date:"F j, Y, g:i a" }}</p>
                </div>
                <h3 class="title">Ordered Items</h3>
                <div class="inputBox">
                    <span>Items :</span>
                    <ul>
                    {% for item in payment.order.orderitem_set.all %}
                        <li>{{ item.product.name }} (Quantity: {{ item.quantity }}, Price: ${{ item.product.price }})</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
