{% extends 'rcube-green-ecom/base2.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1>About Us</h1>
{% if products %}
                {% for product in products %}
                    <div class="product">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description }}</p>
                        <p>Price: ${{ product.price }}</p>
                        <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No products available.</p>
            {% endif %}
{% endblock %}
