{% extends 'rcube-green-ecom/base2.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <style>
        .co-container {
            padding: 0 120px;
        }
    </style>
</head>
<body>
    <div class="co-container">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <a href="{% url 'shop' %}">Back to shop</a>
        </div>
</body>
{% endblock %}