{% extends 'rcube-green-ecom/base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<h1>Shop</h1>
<p>Welcome to our shop. Here you can buy various products.</p>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
