@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

body {
  background-color: #00A76F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #00A76F 60%, #008B5C 40.1%);
}

.invoice {
  padding: 20px;
  width: 700px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.col {
  flex: 1 1 250px;
}

.title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.inputBox {
  margin: 15px 0;
}

.inputBox span {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.inputBox p {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 5px;
}

.date {
  text-align: right;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
