{% extends "admin_home.html" %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container">
    <div class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 60vh;">
    <h2 class="h2 section-title">Add New Product</h2>
        <form method="post" enctype="multipart/form-data" style="width: 100%; max-width: 400px;">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="button-group" style="display: flex; justify-content: space-between;">
                <button type="submit" style="background-color: #006769;" class="btn btn-success">Add Product</button>
                <a href="{% url 'list_products' %}" class="btn btn-secondary" style="font-size: 0.875em;">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
