{% extends "admin_home.html" %}

{% block title %}Add Category{% endblock %}

{% block content %}
<div class="container">
    <h2 class="h2 section-title">Add New Category</h2>
    <div style="display: flex; justify-content: center;">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-group" style="display: flex; justify-content: space-between;">
                <button type="submit" class="btn btn-success">Add Category</button>
                <a href="{% url 'list_categories' %}" class="btn btn-secondary" style="font-size: 1.2em;">Cancel</a>
            </div>
      </form>
    </div>
</div>
{% endblock %}
