<!-- templates/userApp/edit_product.html -->

{% extends "rcube-green-ecom/base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container">
    <h2 class="section-title">Edit Product</h2>
    <div style="display: flex; justify-content: center;">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <div class="button-group" style="display: flex; justify-content: space-between;">
                    <button type="submit" class="btn btn-success">Add Product</button>
                    <a href="{% url 'list_products' %}" class="btn btn-secondary" style="font-size: 0.875em;">Cancel</a>
        </div>
      </form>
    </div>
</div>
{% endblock %}
