{% extends "admin_home.html" %}

{% block title %}Category List{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="h2 section-title">Categories</h2>
    <table style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th class="text-align-center" style="padding: 10px; border-bottom: 1px solid var(--cultured);">Name</th>
          <th class="text-align-center" style="padding: 10px; border-bottom: 1px solid var(--cultured);">Edit</th>
          <th class="text-align-center" style="padding: 10px; border-bottom: 1px solid var(--cultured);">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td style="padding: 10px; text-align: center;">{{ category.name }}</td>
            <td style="padding:2%; text-align: center;">
              <a href="{% url 'edit_category' category.id %}">
                <button type="button" class="btn btn-success">Edit</button>
              </a>
            </td>
            <td style="padding: 10px; text-align: center;">
              <form method="post" action="{% url 'delete_category' category.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
