<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap">
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
  <div class="login-container">
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn">Login</button>
    <p class="register-link">Not a user? <a href="{% url 'register' %}">Register here</a></p>
    <p class="register-link">Go back to <a href="{% url 'home' %}">Home</a></p>
  </form>
  </div>
</body>
</html>
