{% extends "rcube-green-ecom/base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<h1>Profile Page</h1>
{% if user.first_name %}
    <p>Welcome, <strong>{{ user.first_name }} {{ user.last_name }}! </strong></p>
{% else %}
    <p>Welcome, <strong>{{ user.username }}! </strong></p>
{% endif %}

<p>Email: {{ user.email }}</p>
<p>Your last login was: {{ user.last_login }}</p>

<a href="{% url 'edit_profile' %}" class="btn btn-primary">
    <i class="fa fa-pencil"></i> Edit Profile
</a>

{% endblock %}
